<div class="container">
  <h2 class="py-4">Github repository searching application:</h2>

  <div class="mb-4 row">
    <input
      class="form-control col-sm-11"
      type="text"
      #searchTextRef
      [(ngModel)]="searchText"
      placeholder="Enter Username"
      (keyup.enter)="searchUsers()"
    />
    <button class="btn btn-primary col-sm-1" (click)="searchUsers()">
      Search
    </button>
  </div>

  <!-- showing searched records in table -->
  <table class="table" *ngIf="userList.length > 0; else noUsers">
    <colgroup>
      <col width="5%" />
      <col width="*" />
    </colgroup>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">login</th>
        <th scope="col">users name</th>
        <th scope="col">location</th>
        <th scope="col">avatar url</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let repo of userList; let i = index"
        class="cursor-pointer"
        (click)="searchRepo(repo.repos_url, i)"
        [class.active]="i == selectedRows"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ repo.login }}</td>
        <td>{{ repo.name }}</td>
        <td>{{ repo.location }}</td>
        <td>
          <img class="width-20 mr-1" src="{{ repo.avatar_url }}" />{{
            repo.avatar_url
          }}
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noUsers>
    <p>No Users searched yet.</p>
  </ng-template>

  <!-- showing Repository results -->
  <table class="table" *ngIf="repoList.length > 0; else noRepo">
    <colgroup>
      <col width="5%" />
      <col width="*" />
      <col width="10%" />
    </colgroup>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reposiory</th>
        <th scope="col">Star count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repoList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ repo.name }}</td>
        <td>{{ repo.stargazers_count }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noRepo>
    <p>No repository found yet.</p>
  </ng-template>
</div>
